.nav {
    display: flex;
    align-items: center;
    height: 75px;
    background-color: #0d0d0d;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 0 20px;

    > a {
        color: var(--main);
        margin-left: 20px;
        font-size: 1.5em;
        font-weight: bold;
    }
}

.menu {
    display: flex;

    li {
        padding: 0 10px;
    }
}
