.root {
    display: flex;

    iframe {
        width: 560px;
        height: 315px;
    }

    @media (max-width: 960px) {
        display: block;
        text-align: center;

        iframe {
            margin: auto;
        }
    }
}

.content {
    margin: 0 0 0 20px;
    flex: 1;
    @media (max-width: 960px) {
        margin: 0 0 20px 0;
    }
}
