.sliderContainer {
    position: relative;
}

.slider {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;

    ul {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}

.sliderButton {
    width: 70px;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: 0.4;
    display: flex;
    cursor: pointer;
    border: 0;
    color: #f5f5f5;
    outline: none;
    transition: opacity .2s;

    &:hover {
        opacity: 0.8;
    }

    > svg {
        margin: auto;
    }
}

.sliderNext {
    top: 0;
    left: 0;
}

.sliderPrev {
    top: 0;
    right: 0;
}